.stats-container {
  width: 260px;
  height: 146px;
  background-color: #98cb98;
  border: solid black;
  margin-top: 20px;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.stats-name-container {
  width: 100%;
  margin-left: 6px;
}

.stats-number-container {
  text-align: end;
  margin-right: 6px;
}

.stat-name {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: dotted rgb(158, 156, 156);
  text-transform: capitalize;
}

.stat-number {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: dotted rgb(158, 156, 156);
}
