.types-container {
  margin-top: 12px;
  width: 120px;
  height: 50px;
  border: solid black;
  background-color: #98cb98;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.types {
  margin: 4px;
  font-size: 12px;
}