.types-container {
  margin-top: 12px;
  /* background-color: #747575; */
  /* width: 260px; */
  width: 120px;
  height: 60px;
  border: solid black;
  background-color: #98cb98;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .types-header {
  margin-top: 10px;
  margin-bottom: 8px;
} */

.types {
  margin: 4px;
  font-size: 12px;
}