.App {
  background-image: url("./bg.jpg");
  background-color: #747575;
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 100px;
}

.App::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 18vh;
  margin-top: 30px;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pokemon-logo {
  width: 210px;
  height: 110px;
  margin-bottom: -44px;
  margin-top: -10px;
}

.pokeball-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pokeball {
  width: 45px;
  height: 45px;
  margin: 20px;
  pointer-events: none;
  animation: pokeball-spin 2s linear 1;
}

@keyframes pokeball-spin {
  from {
    transform: rotate(0deg);
    width: 5px;
    height: 5px;
  }
  to {
    transform: rotate(360deg);
    width: 45px;
    height: 45px;
  }
}

.pokedex-container {
  display: flex;
  justify-content: center;
}

.pokedex {
  height: 556px;
  min-width: 724px;
  max-width: 724px;
  width: 724px;
  background-color: #7f1218;
  border: 4px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panels {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error-message {
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  line-height: 50px;
}

/*** LEFT PANEL ***/

.left-panel{
  width: 344px;
  height: 540px;
  border: 4px solid black;
  margin-left: 3px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CE1C24;
}

.left-panel-container {
  width: 310px;
  height: 506px;
  border: 4px solid black;
}

.camera-search-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
  margin-top: 16px;
}

.lens-border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 60px;
  width: 60px;
  border: solid black;
  border-radius: 50%;
  background-color: white;
}

.lens {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid black;
  background-color: #3298cb;
}

.lens-dot {
  height: 15px;
  width: 15px;
  position: relative;
  top: 7px;
  left: 10px;
  border-radius: 50%;
  background-color: #85bdfe;
}

.search-lights-wrapper {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

input {
  background-color: #98cb98;
  width: 171px;
  height: 18px;
  border-radius: 10px;
  padding-left: 8px;
  padding-top: 3px;
  border: solid black;
  outline-width: 0;
}

.camera-lights-container{
  margin-left: 15px;
  margin-top: 10px;
  width: 180px;
  height: 100%;
  display: flex;
  align-self: start;
  justify-content: space-between;
}

.red-light {
  border: solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff0000;
}

.red-light-dot{
  height: 5px;
  width: 5px;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: #fe98cb;
}

.yellow-light {
  border: solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fecb65;
}

.yellow-light-dot{
  height: 5px;
  width: 5px;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: #fefecb;
}

.green-light {
  border: solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #32cb65;
}

.green-light-dot{
  height: 5px;
  width: 5px;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: #98fe00;
}

.yellow-light-long {
  border: solid black;
  width: 46px;
  height: 16px;
  border-radius: 5px;
  background-color: #fecb65;
}

.yellow-light-long-dot{
  height: 5px;
  width: 5px;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 5px;
  background-color: #fefecb;
}

.name-container {
  background-color: #98cb98;
  border: solid black;
  width: 260px;
  height: 20px;
  display: flex;
  margin-top: 20px;
  margin-left: 22px;
  display: flex;
  justify-content: center;
}

.name {
  margin-top: 3px;
}

.image-container {
  background-color: #98cb98;
  border: solid black;
  width: 260px;
  height: 240px;
  display: flex;
  margin-top: 20px;
  margin-left: 22px;
  display: flex;
  justify-content: center;
}

.specs-back-container {
  margin-top: 20px;
  margin-left: 22px;
  display: flex;
  justify-content: space-between;
}

.specs-container {
  background-color: #98cb98;
  width: 160px;
  height: 64px;
  border: solid black;
  text-transform: capitalize;
}

.specs {
  font-size: 9px;
  display: flex;
  flex-direction: column;
}

.weight-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-bottom: dotted rgb(158, 156, 156);
}

.height-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  border-bottom: dotted rgb(158, 156, 156);
}

.base-exp-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  border-bottom: dotted rgb(158, 156, 156);
}

.rotate-button {
  width: 70px;
  height: 50px;
  background-color: #6c96e6;
  border: solid black;
  border-radius: 20px;
  margin-right: 24px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.rotate {
  width: 50px;
}

/*** MIDDLE AREA  ***/

.middle-area {
  width: 10px;
  height: 540px;
  border-width: 4px 0px 4px 0px; 
  border-style: solid;
  border-color:black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-square-1 {
  width: 10px;
  margin-top: -12px;
  margin-left: -4px;
  height: 110px;
  background-color: #7f1218;
  border: 4px solid black;
}

.center-square-2 {
  width: 10px;
  margin-left: -4px;
  height: 110px;
  background-color: #7f1218;
  border: 4px solid black;
  
}

.center-square-3 {
  width: 10px;
  margin-bottom: -12px;
  margin-left: -4px;
  height: 110px;
  background-color: #7f1218;
  border: 4px solid black;

}

/*** RIGHT PANEL ***/

.right-panel{
  width: 344px;
  height: 540px;
  border: 4px solid black;
  margin-right: 3px;
  border-radius: 0px 10px 10px 0px ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CE1C24;
}

.right-panel-container {
  width: 310px;
  height: 506px;
  border: 4px solid black;
}

.types-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.speaker-container {
  width: 18%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.speaker-1 {
  width: 40px;
  height: 6px;
  margin: 4px;
  background-color:#7f1218;
  border: solid black;
}
.speaker-2 {
  width: 40px;
  height: 6px;
  margin: 4px;
  background-color:#7f1218;
  border: solid black;
}
.speaker-3 {
  width: 40px;
  height: 6px;
  margin: 4px;
  background-color:#7f1218;
  border: solid black;
}

.stats-wrapper {
  display: flex;
  justify-content: center;
}

.moves-wrapper {
  display: flex;
  justify-content: center;
}

.abilities-wrapper {
  display: flex;
  justify-content: center;
}
